*{
    margin: 0;
    padding: 0;
}

body{
    background-color: red;
}

.animated{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 10rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#circle1, #circle2, #circle3{
    animation: bounceup .5s cubic-bezier(.17,.67,.46,.97) infinite alternate forwards;
    position: relative;
    height: 100%;
    width: 3rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .4);
}

#circle2{
    animation-delay: .2s;
}

#circle3{
    animation-delay: .3s;
}

@keyframes bounceup {
    0%{
        bottom: 0;
    }
    100%{
        bottom: 100%;
    }
}